@import url('https://fonts.googleapis.com/css?family=Roboto');

html {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.info {
    background-color: rgb(94, 144, 255);
    position: absolute;
    z-index: 2;
}

#main-canvas {
    border: 1px solid green;
}

#counter-text {
    font-family: "Roboto";
}

#start-pannel {
    position: absolute;
    top: 0;
    left: 0;
    background-image: url("/Users/gonzalosobrino/Documents/Ironhack/Projects/module-1-game/assets/img/citybackground.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.logo {
    display: flex;
    justify-content: center
}

.hide {
    display: none;
}

.start-button {
    display: flex;
    justify-content: center;
}